<!-- Container Start -->
<div class="container shadow navigation-container">

  <!-- Navigation Start -->
  <nav class="navbar navbar-expand-sm navbar-dark">

    <a class="navbar-brand hover-zoom" href="#" id="logo">DAILY JOURNAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse Navbar Horizontally -->
    <div class="collapse navbar-collapse" id="navbarScroll">

      <!-- Unordered List Start -->
      <ul class="navbar-nav ms-auto" id="nav-list">
        <li class="navbar-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      </ul> <!-- Unordered List End -->

    </div> <!-- Collapse Navbar End -->

  </nav> <!-- Navigation End -->

</div> <!-- Container End -->
