<%- include("partials/header") -%>

<body>

  <%- include("partials/navigation") -%>

  <!-- Container Start -->
  <div class="container home-container shadow">

    <section>

      <h1 class="home-h1">About Me</h1>

      <div class="container">
        <div class="row">
          <div class="col-sm left-col">
            <p class="home-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
              <h5>Someone took my stapler</h5>
          </div>
          <div class="col-sm right-col">
            <img src="/images/about-me.jpg" class="about-me-image" alt="">
          </div>
        </div>
      </div>

    </section>

  </div> <!-- Container End -->

</body>

<%- include("partials/footer") -%>

</html>
